[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "lib/eve-lcd-driver"]
	path = lib/eve-lcd-driver
	url = https://github.com/Subuday/eve-lcd-driver.git
